=form_for @user, :url=>"update" do |f|
  = f.label :name
  = f.text_field :name
  %br
  = f.label :age
  = f.text_field :age
  %br
  = f.label :address
  = f.text_field :address
  %br
  = f.label :status
  = f.text_field :status
  %br
  = f.label :bio
  = f.text_field :bio
  %br
  = f.submit "Update user"
